body {
  background-color: #EBEBEB;
  font-family: 'Open Sans', sans-serif;
  color: #7D7D7D;
  font-size: 15px;
  line-height: 1.6em;
}

h1 {
  font-family: 'Raleway', sans-serif;
  color: #41D7A7;
  font-size: 22px;
  line-height: 1.6em;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.6em;
}

a {
  text-decoration: none;
  color: #F6416C;
}

a:hover {
  text-decoration: none;
  color: #FFDE7D;
}

.container {
  width: 500px;
  margin: 0 auto; /* Automatically set left/right margins */
}

.card {
  background: white;                          /* White background */
  padding: 30px;                              /* Internal space */
  border-radius: 4px;                         /* Small radius */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 1px solid rgba(0, 0, 0, 0.1);       /* OR subtle border */
}

.img-size {
  width: 225px;
}

.img-circle {
  border-radius: 50%;
}

#img-profile {
  width: 100px;
  height: 100px;
  border: 3px solid #cccccc;

}

.text-center {
  text-align : center;
}

.list-inline > li  {
  display: inline-block;
  padding: 0px 20px;
  padding-left: 0px;
  font-size: 15px;
}

.list-inline > li i {
  font-size: 25px;
}
